<% form_for @toilet do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :street_address %><br />
    <%= f.text_field :street_address %>
  </p>
  <p>
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </p>
  <p>
    <%= f.label :zip %><br />
    <%= f.text_field :zip %>
  </p>
  <p>
    <%= f.label :rating %><br />
    <%= f.text_field :rating %>
  </p>
  <p><%= f.submit %></p>
<% end %>
