<% title "Toilets" %>

<table>
  <tr>
    <th>Street Address</th>
    <th>City</th>
    <th>State</th>
    <th>Zip</th>
    <th>Rating</th>
    <th>Dist</th>
  </tr>
  <% for toilet in @toilets %>
    <tr>
      <td><%=h toilet.street_address %></td>
      <td><%=h toilet.city %></td>
      <td><%=h toilet.state %></td>
      <td><%=h toilet.zip %></td>
      <td><%=h toilet.rating %></td>
      <td><%=h toilet.distance %></td>
    </tr>
  <% end %>
</table>

<h2>Find a toilet</h2>
<%= form_tag '/toilets/find' %>
  <input id="find_address" name="find[address]" size="30" type="text" value="Enter your address" />
  <input id="find_distance" name="find[distance]" size="5" type="text" value="dist" />
<%= submit_tag 'Find toilet!' %>

<% content_for :head do %>
  <%= @map.to_html %>
<% end %>
<%= @map.div(:width => 600, :height => 400) %>
